body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 20px 0;
  font-family: 'Times New Roman', Times, serif;
}
